!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/main.css')
		block css
		script(type='text/javascript', src='/js/jquery-1.8.2.min.js')
		script(type='text/javascript', src='/js/main.js')
		block js
	body
		div#main.container-fluid
			div.row-fluid
				div.span12
					h1.center= title
			div.row-fluid
				div.span3
					div#leftNav.well
						include nav/leftNav
				div.span9
					div#content.well
						block content