ul.nav.nav-pills.nav-stacked
	li(class=conditionalClass('/', thisRoute, 'active'))
		a(href='/')
			i.icon-home(class=conditionalClass('/', thisRoute, 'icon-white', 'icon-black'))
			span Home
	li(class=conditionalClass('/pages/join', thisRoute, 'active'))
		a(href='/pages/join')
			i.icon-file(class=conditionalClass('/pages/join', thisRoute, 'icon-white', 'icon-black'))
			span Join CSVs
